<!DOCTYPE html>
<html>
  <head>
    <title> Nelisa's Spaza-Shop </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="/css/main.css" type="text/css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>

    <nav>
      <div class="nav-wrapper grey darken-2 ">

        <a href="/" class="brand-logo left hide-on-med-and-down">Nelisa's Spaza Shop</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">



{{#if admin}}
<!-- <li><a href="/aboutus">About Us</a></li> -->
  <li id="Sales"><a href="/sales">Sales</a></li>
  <li><a href="/purchases">Purchases</a></li>
  <li><a href="/products"> Products</a></li>
    <li><a href="/categories"> Categories </a></li>
    <li><a href="/users"> Users </a></li>
    <li>

      <a class='dropdown-button' data-activates='dropdown1'>Statistics</a>
    </li>
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="/week1">Week One</a></li>
      <li><a href="/week2">Week Two</a></li>
      <li><a href="/week3">Week Three</a></li>
      <li><a href="/week4">Week Four</a></li>
    </ul>
{{/if}}


{{#unless admin}}
{{#if user}}
<li>
  <a class='dropdown-button'  data-activates='dropdown2'>Statistics</a>
</li>
<ul id='dropdown2' class='dropdown-content'>
  <li><a href="/week1">Week One</a></li>
  <li><a href="/week2">Week Two</a></li>
  <li><a href="/week3">Week Three</a></li>
  <li><a href="/week4">Week Four</a></li>
</ul>
<!-- <li><a href="/sale">Sales</a></li>
<li><a href="/purchase">Purchases</a></li> -->
<!-- <li><a href="/aboutus">About Us</a></li> -->
{{#unless admin}}
<li><a href="/product"> Products</a></li>
  <li><a href="/category"> Categories </a></li>
  {{/unless}}
{{/if}}
{{/unless}}

{{#unless user }}
{{#unless admin }}
    <li><a href="/signup"> Sign Up </a></li>
    <li><a href="/login"> Log In </a></li>
{{/unless}}
{{/unless}}
{{#if user}}
    <!-- <li><a href="/logout">Logout</a></li> -->

    <li>
      <a class='dropdown-button'  data-activates='dropdown3'><i class="material-icons">settings</i></a>
    </li>

      <ul id='dropdown3' class='dropdown-content'>
        <li>Current user: {{user}}</li>
        <li><a href="/user/{{user}}">User Settings</a></li>

        <li><a href="/logout">Log Out</a></li>
      </ul>

{{/if}}


{{#if admin}}
{{#unless user}}
    <!-- <li><a href="/logout">Logout</a></li> -->

    <li>
      <a class='dropdown-button' data-activates='dropdown4'><i class="material-icons">settings</i></a>
    </li>

      <ul id='dropdown4' class='dropdown-content'>
        <li>Current user: {{admin.admin}}</li>
        <li><a href="/user/{{admin.admin}}">User Settings</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>

{{/unless}}
{{/if}}
        </ul>

        <ul id="slide-out" class="left side-nav">
          {{#if admin}}
          <!-- <li><a href="/aboutus">About Us</a></li> -->
            <li id="Sales"><a href="/sales">Sales</a></li>
            <li><a href="/purchases">Purchases</a></li>
            <li><a href="/products"> Products</a></li>
              <li><a href="/categories"> Categories </a></li>
              <li><a href="/users"> Users </a></li>
              <li>
                <a class='dropdown-button' data-activates='dropdown5'>Statistics</a>
              </li>
              <ul id='dropdown5' class='dropdown-content'>
                <li><a href="/week1">Week One</a></li>
                <li><a href="/week2">Week Two</a></li>
                <li><a href="/week3">Week Three</a></li>
                <li><a href="/week4">Week Four</a></li>
              </ul>
          {{/if}}


          {{#unless admin}}
          {{#if user}}
          <li>
            <a class='dropdown-button' data-activates='dropdown6'>Statistics</a>
          </li>
          <ul id='dropdown6' class='dropdown-content'>
            <li><a href="/week1">Week One</a></li>
            <li><a href="/week2">Week Two</a></li>
            <li><a href="/week3">Week Three</a></li>
            <li><a href="/week4">Week Four</a></li>
          </ul>
          <!-- <li><a href="/sale">Sales</a></li>
          <li><a href="/purchase">Purchases</a></li> -->
          <!-- <li><a href="/aboutus">About Us</a></li> -->
          {{#unless admin}}
          <li><a href="/product"> Products</a></li>
            <li><a href="/category"> Categories </a></li>
            {{/unless}}
          {{/if}}
          {{/unless}}

          {{#unless user }}
          {{#unless admin }}
              <li><a href="/signup"> Sign Up </a></li>
              <li><a href="/login"> Log In </a></li>
          {{/unless}}
          {{/unless}}
          {{#if user}}
              <!-- <li><a href="/logout">Logout</a></li> -->

              <li>
                <a class='dropdown-button' data-activates='dropdown7'><i class="material-icons">settings</i></a>
              </li>

                <ul id='dropdown7' class='dropdown-content'>
                  <li>Current user: {{user}}</li>
                  <li><a href="/user/{{user}}">User Settings</a></li>

                  <li><a href="/logout">Log Out</a></li>
                </ul>

          {{/if}}


          {{#if admin}}
          {{#unless user}}
              <!-- <li><a href="/logout">Logout</a></li> -->

              <li>
                <a class='dropdown-button' data-activates='dropdown8'><i class="material-icons">settings</i></a>
              </li>

                <ul id='dropdown8' class='dropdown-content'>
                  <li>Current user: {{admin.admin}}</li>
                  <li><a href="/user/{{admin.admin}}">User Settings</a></li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>

          {{/unless}}
          {{/if}}
                  </ul>







  <a href="#" data-activates="slide-out" class="button-collapse right"><i class='material-icons'>toc</i></a>
      </div>

    </nav>

  <div id="container"  >
    {{{body}}}
  </div>
  <footer class="page-footer grey darken-2 ">
          <div class="footer-copyright">
            <div class="container">
            Created By: Paul Robertson 2016
            <a class="grey-text text-lighten-4 right" href="https://github.com/danger12001">See my GitHub Page!</a>
            </div>
          </div>
        </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script>
   $( document ).ready(function() {
     $('.datepicker').pickadate({
         format: 'dd mmm',
         selectMonths: true, // Creates a dropdown to control month
        });

  });
  </script>
<script>$(document).ready(function(){
  $("#saleSelect").on("change", function(){
    $("#sale-price").val($("#saleSelect option:selected").attr("data-price"));
    $("#markup-price").html("R" + $("#saleSelect option:selected").attr("data-price"));
  });
});
</script>
<script>
$(document).ready(function(){

  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
});

</script>

  </body>

</html>
