<ul class="row list">

    <div class="row">
       <form action="/purchases/purchasesSearchResults/" method="POST">
           <div class="input-field col s12">
               <i class="material-icons prefix">search</i>
               <input id="search_bar" type="text" class="validate" name="search">
               <label for="search_bar">Search</label>
           </div>
       </form>
   </div>

  <li class="col s3 head">Date</li>
  <li class="col s3 head">Product</li>
  <li class="col s2 head">Quantity</li>
  <li class="col s2 head">Price Per Unit</li>
  <a href="purchases/addPurchases"><li class="btn col s2 buttons"> <i class="material-icons">library_add</i></li></a>
        {{#purchases}}
        <!-- <li class="col s1">{{id}}</li> -->
        <li class="col s3"> {{date}}</li>
          <li class="col s3"> {{product}}</li>
          <li class="col s2"> {{quantity}}</li>
          <li class="col s2"> {{cost}}</li>
          <a href="/purchases/editPurchase/{{id}}" class="btn col s1 buttons"><i  class="material-icons">mode_edit</i></a>
          <a href="/purchases/delete/{{id}}" class="btn col s1 buttons"><i class="material-icons">delete</i></a>
        {{/purchases}}
    </ul>
