
<ul class="row list">
  <!-- <li class="col s2 head">ID</li> -->
  <li class="col s1 head">Date</li>
  <li class="col s4 head">Product</li>
  <li class="col s2 head">Amount Sold</li>
  <li class="col s2 head">Price Per Unit</li>
<a href="sales/addSales"><li class="btn col s3 buttons">Add Sale</li></a>
        {{#sales}}


        <li class="col s1"> {{date}}</li>
          <li class="col s4"> {{product}}</li>
          <li class="col s2"> {{sold}}</li>
          <li class="col s2"> {{price}}</li>
<a href="sales/editSale/{{id}}"><li class="btn col s2 buttons">edit</li></a>
<a href="sales/delete/{{id}}"><li class="btn col s1 buttons">delete</li></a>
        {{/sales}}
    </ul>
