<div class="row">
   <form action="/sales/salesSearchResults/" method="POST">
       <div class="input-field col s12">
           <i class="material-icons prefix">search</i>
           <input id="search_bar" type="text" class="validate" name="search">
           <label for="search_bar">Search</label>
       </div>
   </form>
</div>

<ul class="row list">
  <li class="col s2 head">Date</li>
  <li class="col s4 head">Product</li>
  <li class="col s2 head">Amount Sold</li>
  <li class="col s2 head">Price Per Unit</li>
<a href="sales/addSales"><li class="btn col s2 buttons"> <i class="material-icons">library_add</i></li></a>
        {{#sales}}
        <li class="col s2"> {{date}}</li>
          <li class="col s4"> {{product}}</li>
          <li class="col s2"> {{sold}}</li>
          <li class="col s2"> {{price}}</li>
<a href="sales/editSale/{{id}}"><li class="btn col s1 buttons"><i  class="material-icons">mode_edit</i></li></a>
<a href="sales/delete/{{id}}"><li class="btn col s1 buttons"><i class="material-icons">delete</i></li></a>
        {{/sales}}
    </ul>
