
<ul class="row list">
        {{#sales}}

        <li class="col s2">{{id}}</li>
        <li class="col s2"> {{date}}</li>
          <li class="col s4"> {{product}}</li>
          <li class="col s2"> {{sold}}</li>
          <li class="col s2"> {{price}}</li>
        {{/sales}}
    </ul>
      <!-- {{#sales}}
<td>{{id}}</td>
<td>{{date}}</td>
<td>{{product}}</td>
<td>{{sold}}</td>
<td>{{price}}</td>
{{/sales}} -->
