
<ul class="row list">
  <li class="col s2 head">ID</li>
  <li class="col s2 head">Sale Date</li>
  <li class="col s4 head">Product</li>
  <li class="col s2 head">Amount Sold</li>
  <li class="col s2 head">Price Per Unit</li>
        {{#sales}}


        <li class="col s2">{{id}}</li>
        <li class="col s2"> {{date}}</li>
          <li class="col s4"> {{product}}</li>
          <li class="col s2"> {{sold}}</li>
          <li class="col s2"> {{price}}</li>
        {{/sales}}
    </ul>
      <!-- {{#sales}}
<td>{{id}}</td>
<td>{{date}}</td>
<td>{{product}}</td>
<td>{{sold}}</td>
<td>{{price}}</td>
{{/sales}} -->
