<ul class="row list">
  <li class="col s2 head">Date</li>
  <li class="col s4 head">Product</li>
  <li class="col s2 head">Amount Sold</li>
  <li class="col s1 head">Price</li>
  <li class="col s3 head">Category</li>
        {{#search}}
        <li class="col s2"> {{date}}</li>
          <li class="col s4"> {{product}}</li>
          <li class="col s2"> {{sold}}</li>
          <li class="col s1"> {{price}}</li>
          <li class="col s3"> {{category}}</li>
        {{/search}}
    </ul>
