

<ul class="row list">
  <li class="col s4 header">User</li>
  <li class="col s4 header">Email</li>
  <li class="col s1 header">Admin</li>
  <li class="col s1 header">Locked</li>
  <a href="users/addUser"><li class="btn col s2 buttons"> <i class="material-icons">library_add</i></li></a>
{{#search}}
<li class="col s4 ">{{username}}</li>
<li class="col s4 ">{{Email}}</li>
<li class="col s1 ">{{admin}}</li>
<li class="col s1 ">{{locked}}</li>
<a href="users/editUser/{{id}}"><li class="btn col s1 buttons"><i  class="material-icons">mode_edit</i></li></a>
<a href="users/delete/{{id}}"><li class="btn col s1 buttons"><i class="material-icons">delete</i></li></a>
{{/search}}

</ul>
